# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/

# pycharm
.idea/

# Shapefiles
shapefiles/

# Ipython Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Media + Static files
cashscore/mediafiles
cashscore/staticfiles

# Log files
*.log
