{% extends 'base.html' %}
{% load static %}

{% block body %}
    <div class="full-page-container">
        <div class="centered" style="max-width: 360px;">
            <form method="post" novalidate>
                {% csrf_token %}
                {% include 'includes/form.html' with form=form %}
                <button class="button-primary" type="submit">Login</button>
            </form>
            <h6 class="text-align-center">
                New to CashScore? <a href="{% url 'accounts:signup' %}">Sign Up</a>
            </h6>
        </div>
    </div>
{% endblock %}
