{% extends 'accounts/base-account-settings.html' %}
{% load fontawesome_5 %}

{% block settings %}
    {% with customer=user.stripe_customer %}
        <div class="mb-3">
            <h4 class="mb-0">Payment Methods</h4>
            {% with cards=customer.legacy_cards.all %}
                {% if cards %}
                    <table class="full-width mt-3">
                        <thead>
                            <tr>
                                <td>Card</td>
                                <td>Expires</td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for card in cards %}
                                <tr>
                                    <td>{% fa5_icon 'credit-card' 'far' class='mr-1' %}{{ card.brand }} ending in {{ card.last4 }}</td>
                                    <td>{{ card.exp_month }}/{{ card.exp_year }}</td>
                                    <td>
                                        <div class="flex justify-content-end">
                                            <form class="mb-0 mr-2" method="post" action="{% url 'accounts:set_default_payment_method' id=card.id %}">
                                                {% csrf_token %}
                                                <button class="button-primary mb-0"{% if card == customer.default_source.resolve %} disabled{% endif %}>Set Default</button>
                                            </form>
                                            <form class="mb-0" method="post" action="{% url 'accounts:delete_payment_method' id=card.id %}">
                                                {% csrf_token %}
                                                <button class="mb-0" type="submit">Delete</button>
                                            </form>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    No payment method on file.
                {% endif %}
            {% endwith %}
        </div>
        <h5>Add Payment Method</h5>
        <form method="post" novalidate id="add-card-form">
            {% csrf_token %}
            {% include 'includes/form.html' %}
            <button class="button-primary">Add</button>
        </form>
    {% endwith %}
{% endblock %}

{% block javascript %}
    {{ form.media.js }}
{% endblock %}
