// Lists
//––––––––––––––––––––––––––––––––––––––––––––––––––

ul {
  list-style: circle inside;
}

ol {
  list-style: decimal inside;
  padding-left: 0;
  margin-top: 0;
}

ul {
  padding-left: 0;
  margin-top: 0;
  ul, ol {
    margin: 1.5rem 0 1.5rem 3rem;
    font-size: 90%;
  }
}

ol {
  ol, ul {
    margin: 1.5rem 0 1.5rem 3rem;
    font-size: 90%;
  }
}

li {
  margin-bottom: 1rem;
}

.list {
  display: flex;
  flex-direction: column;
}

.list-item-action{
  color: $link-color;

  &:hover {
    background-color: lighten($light-grey, 8%);
    color: darken($link-color, 5%);
  }

  &.active {
    color: #fff;
    background-color: $primary-color;
    border-color: $primary-color;
  }
}

.list-item {
  &:first-child {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }

  &:last-child {
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    margin-bottom: 0px;
  }

  &.active {
    z-index: 2;
    color: #fff;
    background-color: $primary-color;
    border-color: $primary-color;
  }

  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  background-color: #fff;
  border: 1px solid $border-color;
  margin-bottom: -1px;
}
